.Important_background {
    width: 100%;
    background-image: url("../../assets/important.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: white;
    
}